@{
    ViewData["Title"] = "Home Page";
}

<div class="section">
     
    <div class="grid-item">
         
        <div class="btn-group">
            <h2>Do you want to hack fbr</h2>
            <div class="btn-group">
                <button>Yes</button>
                <button>No</button>
            </div>
        </div>
    </div>
    <div class="video-container">
        @*<div class="color-overlay"></div>*@
        <video autoplay loop muted>
            <source src="~/Videos/video.mp4" type="video/mp4">
        </video>
    </div>

</div>

